* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(127, 52, 198, 0.400);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 1.2vw;
    z-index: 1;
}

.card {
    height: 95%;
    width: 95%;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.100);
    border-radius: 5px;
    box-shadow: 20px 20px 50px -30px;
    backdrop-filter: blur(15px);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

html {
    background: rgba(203, 193, 238, 0.519);
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    max-width: fit-content;
    display: inline-flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    overflow: hidden;
    overflow-x: hidden;
    z-index: 0;
}

html::before,
html::after,
html::before,
html::after {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: soft-light;
    animation: 40s -20s move infinite ease-in-out alternate;
    
}

html::before {
    text-shadow: 0.5749076409em 2.4499683027em 7px rgba(0, 16, 255, 0.6),
        2.4540311168em 0.7916607477em 9px rgba(255, 0, 165, 0.6),
        1.0828055332em -0.1952129101em 7px rgba(0, 143, 255, 0.6),
        0.7167029145em -0.0072900517em 7px rgba(0, 187, 255, 0.6),
        2.2560410348em 0.3703082197em 7px rgba(255, 71, 0, 0.6),
        1.5759192492em 1.4564569388em 7px rgba(255, 0, 195, 0.6),
        1.7682732531em 1.3038991192em 7px rgba(36, 255, 0, 0.6),
        1.4897043101em 0.5865155675em 4px rgba(0, 18, 255, 0.6),
        1.9432085167em 2.0451955854em 7px rgba(228, 0, 255, 0.6),
        1.341462224em 1.8113355164em 7px rgba(0, 238, 255, 0.6),
        1.7597687941em 1.0237106383em 5px rgba(187, 255, 0, 0.6),
        1.9242557812em 0.182127152em 7px rgba(0, 217, 255, 0.6),
        0.1928033337em 0.4696914926em 6px rgba(255, 8, 0, 0.594),
        -0.3429815638em 1.5684908878em 7px rgba(255, 199, 0, 0.6),
        -0.4230042967em 1.9266885196em 7px rgba(118, 0, 255, 0.6),
        2.0649344935em 0.6044793947em 7px rgba(58, 0, 255, 0.6),
        1.4784339451em 2.21431234em 7px rgba(255, 0, 195, 0.6),
        1.7745761799em -0.2404243786em 7px rgba(0, 255, 40, 0.6),
        1.037848404em 0.9798614921em 7px rgba(255, 0, 187, 0.6),
        1.3000000819em 2.3434764904em 7px rgba(0, 171, 255, 0.6),
        0.7853517771em 0.9510080559em 7px rgba(0, 53, 255, 0.6),
        1.2874946333em 0.5290607567em 7px rgba(255, 0, 137, 0.6),
        0.9744863852em -0.0731397784em 7px rgba(23, 255, 0, 0.6),
        0.6330613196em 1.345927599em 7px rgba(0, 82, 255, 0.6),
        0.5400062861em 1.6034213778em 7px rgba(0, 7, 255, 0.6),
        1.5319009007em 1.3591984282em 7px rgba(56, 0, 255, 0.6),
        2.1517004284em 1.8391167831em 7px rgba(255, 129, 0, 0.6),
        1.7534493464em 0.5504873568em 7px rgba(141, 0, 255, 0.6),
        1.6072525349em 1.3461590732em 7px rgba(0, 51, 255, 0.6),
        0.731016757em 0.8192572831em 5px rgba(0, 255, 71, 0.6),
        -0.3395452102em 1.091680736em 7px rgba(0, 202, 255, 0.6),
        0.218070339em -0.0310902779em 7px rgba(255, 171, 0, 0.6),
        0.7948161442em 1.9990183075em 7px rgba(254, 0, 255, 0.6),
        0.1113899484em 0.988110885em 4px rgba(76, 255, 0, 0.6),
        0.4918352555em -0.2766030817em 7px rgba(255, 0, 111, 0.6),
        1.6696779532em 1.0735911682em 7px rgba(0, 204, 255, 0.6),
        -0.0976027822em 1.509613635em 7px rgba(0, 255, 124, 0.6),
        2.4263137181em 0.5891529612em 7px rgba(0, 255, 88, 0.6),
        0.8490607607em 2.4836903496em 7px rgba(48, 255, 0, 0.6),
        0.4018734682em 2.0122026838em 6px rgba(255, 0, 1, 0.6),
        1.9046758031em 1.342675693em 7px rgba(98, 0, 255, 0.6);
    animation-duration: 52s;
    animation-delay: -35s;
}

html::after {
    text-shadow: 1.0631750087em 1.4675608195em 3px rgba(206, 255, 0, 0.6),
        0.2930050511em -0.1559557597em 7px rgba(0, 228, 255, 0.6),
        -0.2266390718em 1.222379091em 7px rgba(0, 255, 169, 0.6),
        -0.0448753457em 0.8828415145em 7px rgba(0, 255, 121, 0.6),
        0.4712376485em 1.3667576223em 7px rgba(255, 0, 80, 0.6),
        -0.2883324029em 0.0707421826em 6px rgba(255, 12, 0, 0.6),
        2.1848943863em 2.0345356157em 7px rgba(255, 215, 0, 0.6),
        1.2703339188em 2.3112047991em 7px rgba(199, 255, 0, 0.6),
        1.8201290789em 2.1317373758em 7px rgba(255, 53, 0, 0.6),
        1.2220448777em 1.8002354034em 7px rgba(255, 199, 0, 0.6),
        -0.3789537187em 0.5171253054em 4px rgba(0, 0, 255, 0.6),
        -0.4727441098em 1.3913711444em 7px rgba(0, 255, 78, 0.6),
        1.9667668584em 1.8971386505em 7px rgba(244, 0, 255, 0.6),
        1.1951423506em -0.1588954801em 7px rgba(255, 0, 158, 0.6),
        -0.180254618em 0.3440495899em 7px rgba(255, 0, 122, 0.6),
        1.3024856668em 1.9215153709em 5px rgba(0, 70, 255, 0.6),
        1.2927000942em 1.8125647651em 7px rgba(255, 242, 0, 0.6),
        0.8639564159em 2.3454724422em 7px rgba(255, 0, 99, 0.6),
        1.2968738743em 1.5427885694em 7px rgba(0, 255, 88, 0.6),
        2.1692600899em 1.2362218184em 4px rgba(76, 255, 0, 0.6),
        1.4234755532em 1.8791394788em 7px rgba(0, 27, 255, 0.6),
        1.8628371871em 0.6397038907em 7px rgba(0, 255, 20, 0.6),
        -0.4916814957em 2.0455009357em 7px rgba(255, 95, 0, 0.6),
        0.6146983644em 1.3688265602em 7px rgba(0, 255, 112, 0.6),
        0.3354035693em 0.0976748862em 7px rgba(0, 181, 255, 0.6),
        1.0282609126em -0.0288810199em 7px rgba(0, 255, 100, 0.6),
        1.8751477663em 1.4685665526em 7px rgba(0, 255, 176, 0.6),
        0.0864306341em -0.3773710877em 7px rgba(0, 17, 255, 0.6),
        -0.1689225334em 1.2092019911em 7px rgba(158, 255, 0, 0.6),
        1.9432976776em 2.116276101em 7px rgba(0, 106, 255, 0.6),
        1.2574834186em 1.7693011044em 3px rgba(64, 255, 0, 0.6),
        2.2626646914em 1.5756088722em 7px rgba(0, 183, 255, 0.6),
        0.0281480775em 2.4261124182em 7px rgba(0, 255, 213, 0.6),
        1.6142570523em 2.044774801em 7px rgba(0, 255, 14, 0.6),
        2.426107454em 0.873753377em 7px rgba(0, 255, 247, 0.6),
        0.64459744em 2.229874361em 5px rgba(0, 2, 255, 0.6),
        2.2557797417em 1.9595132701em 7px rgba(64, 255, 0, 0.6),
        0.4072524917em 2.4592851334em 7px rgba(201, 0, 255, 0.6),
        2.4367351974em 1.7007795048em 7px rgba(0, 180, 255, 0.6),
        2.3347490225em 1.6020879047em 7px rgba(255, 121, 0, 0.6),
        0.6367812541em 2.3574075195em 5px rgba(255, 32, 0, 0.6);
    animation-duration: 43s;
    animation-delay: -32s;
}

html::before {
    text-shadow: 0.1974684903em -0.081717888em 7px rgba(255, 192, 0, 0.6),
        1.6282015007em 0.4333382317em 7px rgba(255, 176, 0, 0.6),
        0.090232388em 0.3732522955em 7px rgba(220, 0, 255, 0.6),
        1.6379270082em 1.5187084079em 3px rgba(123, 255, 0, 0.6),
        1.5167219348em 1.8809068761em 7px rgba(243, 255, 0, 0.6),
        1.5222043847em 0.6247481851em 7px rgba(255, 0, 218, 0.6),
        1.2565983779em 0.0368067227em 4px rgba(255, 203, 0, 0.6),
        1.2623324166em -0.218840971em 7px rgba(255, 242, 0, 0.6),
        2.2078043864em 1.9316155912em 7px rgba(0, 139, 255, 0.6),
        1.4968881471em 0.4655760835em 7px rgba(255, 0, 161, 0.6),
        1.0041778858em 1.4324871622em 7px rgba(78, 0, 255, 0.6),
        0.3463955011em -0.4258426515em 7px rgba(0, 212, 255, 0.6),
        0.0147855281em 0.5873632208em 7px rgba(0, 255, 111, 0.6),
        -0.1631777926em 0.6732225855em 7px rgba(0, 225, 255, 0.6),
        1.704263817em 2.2302043961em 5px rgba(255, 0, 2, 0.6),
        1.3950663977em 2.2077360354em 7px rgba(187, 0, 255, 0.6),
        0.1687140798em 0.6216059989em 7px rgba(223, 0, 255, 0.6),
        1.0252403279em 1.7782817702em 7px rgba(255, 234, 0, 0.6),
        1.0812137628em -0.3702817197em 7px rgba(106, 0, 255, 0.6),
        1.4608621822em 0.3971110613em 7px rgba(255, 0, 185, 0.6),
        0.6425894965em 0.4128103741em 7px rgba(223, 0, 255, 0.6),
        1.2090767792em -0.3404256232em 7px rgba(255, 0, 192, 0.6),
        0.6279721366em 1.3461602211em 7px rgba(86, 0, 255, 0.6),
        2.4806923346em -0.3202314562em 7px rgba(255, 36, 0, 0.6),
        0.580783725em 2.2789797955em 7px rgba(0, 97, 255, 0.6),
        2.0468424606em -0.2041371995em 7px rgba(242, 255, 0, 0.6),
        -0.1578766728em -0.3700257911em 7px rgba(255, 127, 0, 0.6),
        0.0891812464em 1.655022466em 5px rgba(255, 0, 52, 0.6),
        1.0017909118em -0.0808353433em 7px rgba(0, 255, 195, 0.6),
        0.1609436622em 1.699871288em 7px rgba(255, 232, 0, 0.6),
        1.8840572845em 0.1625584958em 7px rgba(255, 0, 164, 0.6),
        0.8220979006em -0.3215710138em 7px rgba(0, 88, 255, 0.6),
        1.5195175007em -0.1395990269em 7px rgba(255, 0, 172, 0.6),
        0.6369696665em 1.5435729647em 7px rgba(255, 0, 92, 0.6),
        0.1777010212em 0.9832053369em 7px rgba(0, 255, 80, 0.6),
        1.4543940051em -0.0629151297em 7px rgba(255, 207, 0, 0.6),
        0.6703194585em 2.0095078676em 7px rgba(61, 0, 255, 0.6),
        2.3348043829em 0.0590830147em 7px rgba(255, 234, 0, 0.6),
        -0.1356554892em -0.0083024251em 7px rgba(255, 0, 176, 0.6),
        2.0824183549em 0.8306373617em 7px rgba(255, 125, 0, 0.6),
        1.899168967em 0.7176877554em 6px rgba(255, 20, 0, 0.6);
    animation-duration: 37s;
    animation-delay: -19s;
}

html::after {
    text-shadow: 1.4956845208em 2.4484540029em 7px rgba(255, 0, 26, 0.6),
        -0.4731900658em 2.2093201113em 7px rgba(0, 151, 255, 0.6),
        1.3925312188em 0.7192765512em 7px rgba(255, 102, 0, 0.6),
        0.9097472448em -0.1323598167em 7px rgba(0, 255, 174, 0.6),
        2.4374718399em 0.5207936314em 7px rgba(178, 0, 255, 0.6),
        0.1578044845em 0.3500466544em 7px rgba(255, 50, 0, 0.6),
        2.2208437893em 1.5401959322em 7px rgba(13, 255, 0, 0.6),
        -0.4539572017em 1.6525524512em 7px rgba(255, 111, 0, 0.6),
        2.1989339341em -0.1748587125em 7px rgba(0, 69, 255, 0.6),
        2.3256329748em 0.3246169654em 7px rgba(0, 134, 255, 0.6),
        1.6408288695em 0.1613322874em 7px rgba(0, 255, 94, 0.6),
        1.4530558506em 0.5695918553em 7px rgba(0, 255, 135, 0.6),
        0.6492454968em 1.1155515316em 7px rgba(0, 114, 255, 0.6),
        0.6301518057em 2.1845790412em 7px rgba(0, 255, 107, 0.6),
        2.1269849717em 1.4032934235em 7px rgba(0, 255, 204, 0.6),
        0.5266997254em 0.9311317284em 7px rgba(0, 0, 255, 0.6),
        0.1660267977em 1.3808444245em 7px rgba(38, 255, 0, 0.6),
        2.4348670536em 0.3170680793em 7px rgba(239, 0, 255, 0.6),
        -0.2577269624em 1.5755185362em 7px rgba(255, 120, 0, 0.6),
        1.0873336436em 0.3731520598em 7px rgba(156, 255, 0, 0.6),
        0.0170366883em -0.0069727042em 7px rgba(0, 255, 50, 0.6),
        2.2893670561em 0.8502389499em 7px rgba(255, 0, 142, 0.6),
        1.7360575727em -0.0620094115em 7px rgba(0, 255, 107, 0.6),
        1.6197215189em -0.4959291841em 7px rgba(0, 255, 19, 0.6),
        2.4120806311em 1.1098232846em 7px rgba(53, 255, 0, 0.6),
        -0.2171879302em 2.1799286691em 7px rgba(255, 128, 0, 0.6),
        1.074476886em 2.0285357006em 7px rgba(0, 167, 255, 0.6),
        0.7153540535em 0.7369738229em 7px rgba(255, 218, 0, 0.6),
        1.5989630195em 0.8293742783em 7px rgba(255, 97, 0, 0.6),
        0.7493758367em 1.3491452589em 7px rgba(0, 159, 255, 0.6),
        1.6905442651em 0.8568989092em 7px rgba(207, 0, 255, 0.6),
        -0.291893595em 1.059439665em 7px rgba(255, 0, 124, 0.6),
        1.2832330332em -0.1096887633em 7px rgba(255, 0, 122, 0.6),
        0.5193433559em 2.4203288318em 7px rgba(196, 0, 255, 0.6),
        2.1833458556em 0.2193666949em 7px rgba(151, 0, 255, 0.6),
        -0.1821275124em 0.0208202442em 7px rgba(0, 255, 192, 0.6),
        1.3872787842em 0.5126664071em 7px rgba(8, 0, 255, 0.6),
        1.8854373199em 0.7141258718em 7px rgba(0, 44, 255, 0.6),
        0.8065732733em 1.4289590391em 7px rgba(255, 40, 0, 0.6),
        1.0101985227em 0.1525101762em 7px rgba(0, 174, 255, 0.6),
        0.2640994718em 2.4466841039em 7px rgba(23, 255, 0, 0.6);
    animation-duration: 33s;
    animation-delay: -12s;
}

@keyframes move {
    from {
        transform: rotate(0deg) scale(12) translateX(-20px);
    }

    to {
        transform: rotate(360deg) scale(18) translateX(20px);
    }
}